/* COMMON RULES */
div {
  display: block;
}

img {
  pointer-events: none;
  cursor: pointer;
}
/* HEADER*/

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  margin: auto;
  padding: 10px 0;
}

.header-container > div:first-child,
.header-logo {
  cursor: pointer;
}

.header-logo {
  height: 60px;
  padding-bottom: 15px;
}

.input-form {
  font-family: "Maison Neue";
  padding-left: 40px;
  width: 590px;
  background-color: #f5f6f7;
  border-radius: 5px;
  height: 37px;
  border: none;
  outline: none;
  font-size: 16px;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  padding-top: 60px;
}

.disconect {
  margin-right: 20px;
  appearance: button;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
}

.Login {
  margin-right: 20px;
  appearance: button;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  height: 30px;
  width: 115px;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-family: "Maison Neue";
  font-size: 12px;
  outline: none;
}
.button-login-signup {
  margin-right: 20px;
  appearance: button;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  height: 30px;
  width: 115px;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-family: "Maison Neue";
  font-size: 12px;
  outline: none;
}

/*LOGIN*/

/*SIGNUP*/

/*INPUT*/

/*HOME*/
.home-hero {
  height: 455px;
  width: 100%;
  position: relative;
  background-position: 50%;
  background-size: cover;
}

/*  HOME IMG  */

.home-hero {
  height: 455px;
  width: 100%;
  position: relative;
  background-position: 50%;
  background-size: cover;
}

.imgbackground {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
  pointer-events: none;
}

.home-hero > div {
  width: 1280px;
  margin: auto;
}

.home-hero img {
  height: 455px;
  width: 100%;
  position: relative;
  background-position: 50%;
  background-position-x: 50%;
  background-position-y: center;
  background-size: cover;
  object-fit: cover;
}

.homeready {
  height: 220px;
  width: 360px;
  background-color: #fff;
  padding: 25px;
  border-radius: 3px;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 75px;
  box-shadow: 0 0 2px rgba(17, 17, 17, 0.24);
}

.homeready button {
  height: 45px;
  width: 187px;
  background-color: #2baeb7;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 0 14px;
  margin-top: 32px;
}

/*  HOME OFFERS  */

.home-c-wrapper {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
}

.card-container {
  width: 235px;
  padding: 0 6px 16px;
  cursor: pointer;
}

.avataruser > span {
  color: #999;
  font-size: 14px;
}

.card-container div:last-child img {
  height: 360px;
  width: 235px;
  object-fit: cover;
  border-radius: 4px;
}

.avataruser {
  display: flex;
  align-items: center;
  padding: 10px;
}

.cardbsize {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.cardbsize span:first-child {
  font-size: 14px;
  color: black;
}

.cardbsize span:not(:first-child) {
  font-size: 12px;
  color: #999;
}
.signup-container {
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 24px;
  font-weight: 400;
}

/*sign up et login*/

.signup-form {
  width: 275px;
  margin: auto;
}

.signup-container,
.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form > input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
}

button,
input {
  outline: none;
}

input {
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
}

input[type="password" i] {
  -webkit-text-security: disc !important;
  padding: 1px 2px;
}

.checkbox-container {
  margin-top: 20px;
  padding: 10px;
}

.checkbox-container > div {
  display: flex;
}

.signup-form input[type="checkbox"] {
  transform: scale(2);
  margin-right: 20px;
}

button,
input[type="checkbox"] {
  cursor: pointer;
}

button,
input {
  outline: none;
}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: checkbox;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.checkbox-container span {
  color: #666;
}

.checkbox-container > p {
  text-align: left;
  color: #999;
  font-size: 12px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.signup-form button {
  background-color: #2cb1ba;
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}

button,
input[type="checkbox"] {
  cursor: pointer;
}

button {
  appearance: button;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
}

.signup-container a {
  color: #2cb1ba;
  font-size: 12px;
}

a {
  text-decoration: none;
  margin-top: 20px;
}

a:-webkit-any-link {
  cursor: pointer;
}
/*Offer*/

.body-offer {
  height: calc(100vh -60px);
  background-color: #ebedee;
}
.offer-container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  grid-gap: 30px;
  gap: 30px;
}
.offer-img {
  height: 600px;
  max-width: 700px;
  object-fit: cover;
  border-radius: 10px;
}
.info-offer {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: #fff;
  border-radius: 5px;
  padding: 40px;
}
.price-offer {
  font-size: 24px;
  line-height: 20px;
  margin-left: 40px;
}

/* PUBLISH */
.publish-main {
  background-color: #ebedee;
}
.publish-main .container {
  width: 50%;
}
/* Formulaire */
.publish-form {
  width: 100%;
}
.publish-form section {
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 15px;
}
.publish-form section div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}
.publish-form section > div:not(:nth-of-type(1)) {
  border-top: 1px solid var(--grey-pale);
}
.publish-form input,
.publish-form textarea {
  width: 50%;
  margin: 0;
}
.publish-form .checkbox-section {
  width: 50%;
  display: flex;
  flex-direction: column;
}

/*PAYMENT*/
